body {
  background-color: silver;
}

.mw-column:eq(0) {
  background-color: #E2F4FC;
  width: 80%;
}

.mw-column:eq(1) {
  background-color: #131313;
  color: white;
  width: 40%;
}

.lh-column {
  position: absolute;
  z-index: 20;
  background-color: black;
  width: 300px;
  height: 200px;
}